<%# <div id="coupon_code" data-hook="coupon_code">
  <%# form_tag order_coupon_codes_path(@order), method: :post, class:'coupon-code-form' do %>
    <%# text_field_tag :coupon_code, nil, placeholder: 'Tengo un cupon de descuento', size: 10 %>
    <%# submit_tag 'Aplicar Codigo' %>
  <%# end %>
<%# </div> %>
