<header>
  <div class=".hdr-logo-cont">
  <a href="#">
    <%= image_tag "logos/optistore.png", alt: "logo", class: "main-logo" %>
  </a>
  </div>
  <div class="hdr-menu-icon-cont">
    <a href="#">
      <i class="fa fa-bars menu-icon"></i>
    </a>
  </div>
  <div class="hdr-categories-cont">
    div 3
  </div>
  <!-- <%= render partial: "spree/shared/nav_bar" %> -->
  <!-- <%= render partial: "spree/shared/main_nav_bar" if store_menu? %> -->
</header>
