<header>
  <div class=".hdr-logo-cont">
    <a href="#">
      <%= image_tag "logos/optistore.png", alt: "logo", class: "main-logo" %>
    </a>
  </div>
  <div class="hdr-menu-icon-cont">
    <a href="#">
      <i class="fa fa-bars menu-icon"></i>
    </a>
  </div>
  <div class="hdr-categories-cont">
    <a class="hdr-category" href="#">Hombre</a>
    <a class="hdr-category" href="#">Mujer</a>
    <a class="hdr-category" href="#">Unisex</a>
    |
    <div class="hdr-icons">
      <i>1</i>
      <i>2</i>
      <i>3</i>
    </div>
  </div>
</header>
