<header>
  <div class="hdr-logo-cont">
    <a href="#" class="logo-link">
      <%= image_tag "logos/logo_completo.png", alt: "logo", class: "main-logo" %>
    </a>
  </div>
  <div class="hdr-menu-icon-cont">
    <a href="#">
      <i class="fa fa-bars menu-icon"></i>
    </a>
  </div>
  <div class="hdr-categories-cont">
    <a class="hdr-category" href="#">Hombre</a>
    <a class="hdr-category" href="#">Mujer</a>
    <a class="hdr-category" href="#">Unisex</a>
    |
    <div class="hdr-icons">
      <i class="fa fa-search"></i>
      <i class="fa fa-user"></i>
      <i class="fa fa-shopping-cart"></i>
    </div>
  </div>
</header>
